# Wind Statistics

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import datetime

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data)

In [31]:
df = pd.read_table('wind.data', sep = "\s+", parse_dates = [[0,1,2]]) 
df.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [32]:
def fix_century(x):
  year = x.year - 100 if x.year > 1989 else x.year
  return datetime.date(year, x.month, x.day)

df['Yr_Mo_Dy'] = df['Yr_Mo_Dy'].apply(fix_century).head()

In [33]:
df

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83
5,NaN,13.21,8.12,9.96,6.67,5.37,4.50,10.67,4.42,7.17,7.50,8.12,13.17
6,NaN,13.50,14.29,9.50,4.96,12.29,8.33,9.17,9.29,7.58,7.96,13.96,13.79
7,NaN,10.96,9.75,7.62,5.91,9.62,7.29,14.29,7.62,9.25,10.46,16.62,16.46
8,NaN,12.58,10.83,10.00,4.75,10.37,6.79,8.04,10.13,7.79,9.08,13.04,15.37
9,NaN,13.37,11.12,19.50,8.33,9.71,6.54,11.42,7.79,8.54,9.00,8.58,11.83
10,NaN,10.58,9.87,8.42,2.79,8.71,7.25,7.54,8.33,5.71,8.67,20.71,16.92
11,NaN,19.75,12.08,18.50,10.54,10.29,9.46,15.54,11.50,10.37,14.58,15.59,14.09
12,NaN,9.92,3.54,8.46,2.96,2.29,0.96,4.63,0.58,2.33,3.37,5.25,7.04
13,NaN,9.04,5.66,7.08,0.67,2.71,1.38,3.08,2.58,0.50,2.67,7.17,5.17
14,NaN,12.04,9.67,11.75,2.37,7.38,3.13,2.50,6.83,4.75,5.63,7.54,6.75
15,NaN,16.42,11.25,15.67,4.71,11.34,6.92,9.25,8.79,8.21,7.33,13.04,9.04
16,NaN,17.75,14.37,17.33,10.13,13.96,13.37,13.42,11.04,8.71,11.38,15.92,16.08
17,NaN,19.83,12.04,20.79,18.54,NaN,10.29,17.83,11.38,14.67,16.71,8.79,17.96
18,NaN,4.92,3.42,7.29,1.04,3.67,3.17,3.71,2.79,1.92,2.71,6.87,7.83
19,NaN,9.59,11.83,7.96,1.58,7.92,5.00,3.17,4.92,3.13,3.37,6.50,6.79
20,NaN,14.33,10.25,11.92,6.13,10.04,7.67,8.04,9.17,7.04,7.87,6.75,12.42
21,NaN,9.59,5.88,9.92,2.17,6.87,5.50,9.38,7.04,6.34,7.50,10.88,9.92
22,NaN,16.54,9.96,18.54,10.46,13.50,12.67,13.70,13.75,10.75,13.17,14.79,20.58
23,NaN,25.04,14.83,25.84,15.67,21.46,18.58,20.38,19.38,15.37,15.12,23.09,25.25
24,NaN,13.62,11.17,12.67,6.04,10.00,9.42,9.25,8.71,7.12,12.04,14.04,17.50
25,NaN,24.37,18.79,17.50,14.25,18.91,15.67,14.33,15.16,16.08,19.08,20.50,25.25
26,NaN,22.04,20.79,17.41,16.21,19.04,16.13,16.79,18.29,18.66,19.08,26.08,27.63
27,NaN,17.67,13.54,13.33,8.87,15.04,11.63,12.25,10.58,11.92,11.04,20.30,18.12
28,NaN,NaN,23.91,22.29,17.54,24.08,19.70,22.00,20.25,21.46,19.95,27.71,23.38
29,NaN,12.21,11.42,10.92,7.92,13.08,9.62,14.50,10.21,9.92,11.96,18.88,19.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6544,NaN,13.70,12.71,14.29,5.13,9.21,8.04,12.33,6.34,9.21,11.21,9.59,19.95
6545,NaN,21.21,21.34,17.75,11.58,16.75,14.46,17.46,15.29,15.79,17.50,21.42,25.75
6546,NaN,9.92,13.50,7.21,1.71,11.00,7.50,8.38,7.46,10.79,10.21,17.88,17.96
6547,NaN,22.75,20.17,18.58,8.50,15.96,14.29,13.92,12.92,12.96,12.29,17.08,19.83
6548,NaN,29.33,23.87,25.37,16.04,24.46,19.50,24.54,18.58,21.00,20.58,21.67,34.46
6549,NaN,26.63,24.79,24.79,18.16,23.13,19.58,19.92,19.04,19.75,21.50,23.04,34.59
6550,NaN,12.92,12.54,11.25,3.37,6.50,5.96,10.34,6.17,6.63,6.75,9.54,17.33
6551,NaN,18.71,16.92,15.50,6.04,10.37,9.59,10.75,9.13,9.75,11.08,14.33,15.34
6552,NaN,24.92,22.54,16.54,14.62,15.59,13.00,13.21,14.12,16.21,16.17,26.08,21.92
6553,NaN,20.25,19.17,17.83,11.63,17.79,13.37,14.83,13.88,15.54,16.29,18.34,22.83
6554,NaN,23.13,18.63,18.05,8.29,14.33,11.04,10.54,10.13,11.42,10.50,11.25,13.50
6555,NaN,18.84,24.04,14.37,8.33,18.12,12.17,13.00,13.75,14.17,15.09,21.50,21.37
6556,NaN,17.21,19.75,12.71,5.83,13.79,7.33,8.83,5.71,7.96,3.37,5.21,6.92
6557,NaN,13.13,8.92,16.54,6.92,6.00,4.00,12.67,5.88,7.67,6.08,5.50,17.16
6558,NaN,14.88,9.13,17.37,5.21,6.71,2.46,9.13,4.96,6.13,5.96,10.92,18.08
6559,NaN,9.87,3.21,8.04,2.21,3.04,0.54,2.46,1.46,1.29,2.67,5.00,9.08
6560,NaN,9.83,10.88,8.50,1.00,9.08,6.00,2.42,8.25,4.42,5.88,19.79,19.79
6561,NaN,13.88,11.42,10.13,2.33,8.12,6.75,4.75,5.88,6.21,8.17,8.33,18.25
6562,NaN,9.92,3.63,12.38,3.08,3.50,0.42,4.54,2.50,2.13,4.71,3.21,10.29
6563,NaN,12.96,3.83,13.79,4.79,7.12,6.54,11.67,9.25,8.67,9.00,11.25,20.30
6564,NaN,6.21,7.38,13.08,2.54,7.58,5.33,2.46,8.38,5.09,5.04,9.92,11.00
6565,NaN,16.62,13.29,22.21,9.50,14.29,13.08,16.50,17.16,12.71,12.00,18.50,21.50
6566,NaN,8.67,5.63,12.12,4.79,5.09,5.91,12.25,9.25,10.83,11.71,11.92,31.71
6567,NaN,7.21,6.58,7.83,2.67,4.79,4.58,8.71,0.75,5.21,5.25,1.21,13.96
6568,NaN,13.83,11.87,10.34,2.37,6.96,4.29,1.96,3.79,3.04,3.08,4.79,11.96
6569,NaN,17.58,16.96,17.62,8.08,13.21,11.67,14.46,15.59,14.04,14.00,17.21,40.08
6570,NaN,13.21,5.46,13.46,5.00,8.12,9.42,14.33,16.25,15.25,18.05,21.79,41.46
6571,NaN,14.00,10.29,14.42,8.71,9.71,10.54,19.17,12.46,14.50,16.42,18.88,29.58
6572,NaN,18.50,14.04,21.29,9.13,12.75,9.71,18.08,12.87,12.46,12.12,14.67,28.79
6573,NaN,20.33,17.41,27.29,9.59,12.08,10.13,19.25,11.63,11.58,11.38,12.08,22.08

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [3]:
# transform Yr_Mo_Dy it to date type datetime64
df["Yr_Mo_Dy"] = pd.to_datetime(df["Yr_Mo_Dy"])

# set 'Yr_Mo_Dy' as the index
df = df.set_index('Yr_Mo_Dy').head()

In [4]:
df

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [35]:
# "Number of non-missing values for each location: "


# isnull().sum()

In [70]:
df.isnull().sum(axis=0)

Yr_Mo_Dy    6569
RPT            6
VAL            3
ROS            2
KIL            5
SHA            2
BIR            0
DUB            3
CLA            2
MUL            3
CLO            1
BEL            0
MAL            4
dtype: int64

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [71]:
df.mean()

RPT    12.362987
VAL    10.644314
ROS    11.660526
KIL     6.306468
SHA    10.455834
BIR     7.092254
DUB     9.797343
CLA     8.495053
MUL     8.493590
CLO     8.707332
BEL    13.121007
MAL    15.599079
dtype: float64

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

In [76]:
df.agg(['max', 'min', 'mean'])

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.88000,28.210000,42.380000,42.540000
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.00000,0.040000,0.130000,0.670000
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.49359,8.707332,13.121007,15.599079

In [77]:
df.describe()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
count,6568.000000,6571.000000,6572.000000,6569.000000,6572.000000,6574.000000,6571.000000,6572.000000,6571.000000,6573.000000,6574.000000,6570.000000
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.493590,8.707332,13.121007,15.599079
std,5.618413,5.267356,5.008450,3.605811,4.936125,3.968683,4.977555,4.499449,4.166872,4.503954,5.835037,6.699794
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
25%,8.120000,6.670000,8.000000,3.580000,6.750000,4.000000,6.000000,5.090000,5.370000,5.330000,8.710000,10.710000
50%,11.710000,10.170000,10.920000,5.750000,9.960000,6.830000,9.210000,8.080000,8.170000,8.290000,12.500000,15.000000
75%,15.920000,14.040000,14.670000,8.420000,13.540000,9.670000,12.960000,11.420000,11.190000,11.630000,16.880000,19.830000
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000